<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title>List Kandidat</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="gotoAdd()">
        <ion-icon slot="icon-only" name="add-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let calon of kandidat">
    <ion-card-content>
      <ion-card-title>
        {{calon.no}}. {{calon.nama}}
      </ion-card-title>
      <br>
      <ion-label>
        Jumlah Vote : {{calon.jml_vote}}
      </ion-label>
      <br>
      <ion-card-subtitle>
        Visi :
      </ion-card-subtitle>
      <ion-label>
        {{calon.visi}}
      </ion-label>

      <br>
      <ion-card-subtitle>
        Misi :
      </ion-card-subtitle>
      <ion-label>
        {{calon.misi}}
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>